.layout{
    min-height: 100vh;
    display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.err{
    background: #ffd8d8;
  width: 50%;
  display: block;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
  margin: auto;
    margin-top: auto;
  margin-top: 50px;
  border-radius: 3px;
  color: #fa3939;
}